<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="aboutcontent">
    <br><br><br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse fugit nemo corrupti voluptatum iure, asperiores provident repellendus molestiae, explicabo quae enim sunt! Ut dolores numquam, a eligendi rerum veritatis quam!</p><br>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore neque quos, perferendis molestias non libero aliquam in eos corrupti iure odio deserunt officiis rem aspernatur sunt! Quaerat facilis eos alias.</p><br>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>