<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Ninja</title>

    <style>
        .aboutcontent
        {
            text-align: left;
        }
        body{
            margin-left: 200px;
            margin-right: 200px;
            font-size: 20px;
            text-decoration: none;
            color: black;
        }
        
        h1
        {
            font-size: 40px;
        }
        nav
        {
            color: grey;
        }
        .links
        {
            color: gray;
            text-decoration: none;
            float: right;
            margin: 0px;
            margin-right: 10px;
            margin-left: 5px;
        }
        .content{
           
            text-align: left;
            font-size: 20px;
        }
        footer
        {
            text-align: center;
        }
        .delete
        {
            position: relative;
            top: -6rem;
            left: 67rem;
            border-radius: 50%;
            padding: 8px;
        }
        .delete:hover
        {
            cursor: pointer;
            box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
        }
        a
        {
            color: black;
            text-decoration: none;
        }
    </style>
</head>