<nav>
    <div class="title">
        <a href="/"><h1>Blog Ninja</h1></a>
        A net ninja site
        <a href="/" class="links">Blogs</a>
        <a href="/about" class="links">About</a>
        <a href="/create" class="links">New blog</a><br>
        <hr>
    </div>
</nav>